<div class="content-block">
  <h2>{{titulo}}</h2>
</div>

<div class="content">
	
  <p>A continuación listamos los servicios que ofrecemos:</p> 
  <div class="clearfix"></div>
  

<div class="product">
    <div class="img-container">
      <img src="../assets/images/peluqueria.jpg">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>Peluqueria Canina</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
        <ul>
          <li>Lorem ipsum dolor sit ametconsectetu.</li>
          <li>adipisicing elit dlanditiis quis ip.</li>
          <li>adipisicing elit dlanditiis quis ip.</li>
          <li>adipisicing elit dlanditiis quis ip.</li>
          <li>lorem sde glanditiis dars fao.</li>
        </ul>
	        <div class="buttons">
	          <a class="button buy" href="#">Buy</a>
	          <a class="button add" href="#">Add to Cart</a>
	          <span class="button" id="price">$59,99</span>
	        </div>
      </div>
    </div>
  </div>

  <div class="product">
    <div class="img-container">
      <img src="../assets/images/alimentacion1.jpg">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>Cursos Alimentación Canina</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariaturLorem ipsum dolor sit amet consectetur adipisicing elit ari</p>
        <ul>
          <li>Lorem ipsum dolor sit ametconsectetu.</li>         
        </ul>
	        <div class="buttons">
	          <a class="button buy" href="#">Buy</a>
	          <a class="button add" href="#">Add to Cart</a>
	          <span class="button" id="price">$59,99</span>
	        </div>
      </div>
    </div>
  </div>

 <div class="product">
    <div class="img-container">
      <img src="../assets/images/jugando.jpg">
    </div>
    <div class="product-info">
      <div class="product-content">
        <h1>Parque Canino</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
        <ul>
          <li>Lorem ipsum dolor sit ametconsectetu.</li>
          <li>adipisicing elit dlanditiis quis ip.</li>
          <li>lorem sde glanditiis dars fao.</li>
        </ul>
        <div class="buttons">
          <a class="button buy" href="#">Buy</a>
          <a class="button add" href="#">Add to Cart</a>
          <span class="button" id="price">$59,99</span>
        
 		 </div>
    </div>
  </div>

</div>