<div class="content-block">
  <h5>{{titulo}}</h5>
</div>

<div class="content">
 	<div class="content-box" id="content-detail-cantina">
		
		
        <!--  form contact -->
		<div class="container" >
			<h4>Peluqueria Canina</h4>
			<hr>
			<div class="row">
				<div class="col-md-7">
					<p> Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariaturLorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
					<br>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua.</p>
					
					<br>
					<p> Lorem in culpa qui officia deserunt mollit anim id est laborum:</p>
			        <ul>
			          <li>Lorem ipsum dolor sit ametconsectetu.</li>
			          <li>ading elit dlanditiis quis ip.</li>
			          <li>adipiicing elit dlanditiis quis ip.</li>
			          <li>lorem sde glanditiis dars fao.</li>
			        </ul>

			        <h5>Costo</h5>
			          <span id="price">59,99$</span>
			        <h5>Fechas del Curso</h5>
			        <ul>
			          <li>20 Oct 2019.</li>
			          <li>01 Oct 2019.</li>
			          <li>04 Nov 2019.</li>
			        </ul>
			        <hr>
			        <p>No dudes en contactarnos o escribirnos:</p>
			        <ul style="padding-left:10px; list-style-type:none; line-height:25px;color:teal;">
			              <li><span class="glyphicon glyphicon-envelope"></span>   correo_de_tienda@gmail.com
			              </li>
			              <li><span class="glyphicon glyphicon-earphone"></span>   +58 00000 - 0000 / +58 0000 - 0000
			              </li>		             
		            </ul>	
				</div>

			    <div class="col-md-5">
			    	<img class="img-detail" src="../assets/images/peluqueria.jpg">
										 
					<div class="form_main">
		                <h4 class="heading" style="text-align: right;"><strong>Contact </strong> Us <span></span></h4>		                
		                <div class="form">
			                <form action="" method="post" id="contactFrm" name="contactFrm">
			                    <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt">
			                    <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt">
			                    <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="txt">
			                    
			                	 <textarea placeholder="Your Message" name="mess" type="text" rows="3" class="txt_3"></textarea>
			                     <input type="submit" value="Send your Info." name="submit" class="btn btn-primary btn-sm btn-block">
			                </form>
			            </div>
		            </div>
            	</div>

			</div>


		</div>
		<!--  form contact -->
	</div>
</div>