<div class="content-block">
   <h5 style="letter-spacing: 2px;">{{titulo}}</h5>
</div>

<div class="content">
	 <div class="content-box">         

      <div class="content-block" id="content-detail-cantina">
       <h4 class="title">Welcome to Tienda de Mascotas</h4> 
       <br>
        <div class="row">          
          <div class="col-md-7">
           
            <p style="text-align: justify; font-size: medium; line-height:36px;">Somos amantes de los perros y vimos la oportunidad de ofrecer un espacio... Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            conseqiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </p>
            <p style="text-align: justify; font-size: medium;line-height:36px;"> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
          </div>
          <div class="col-md-5">
            <img class="img-center" src="/assets/images/prueba.png">
          </div>
        </div>
      </div>
      <br>
      <hr>
      <h4 class="title">Nuestros Servicios</h4>
      <br><br>
      <div class="links-container">
         
          <a class="links" [routerLink]="['/hospedaje']">
            <img width="90" heigth="90" src="/assets/images/viaje.png">
            <span>Hospedaje</span>
          </a>

          <a class="links" [routerLink]="['/cantina']">
             <img width="130" heigth="130" src="/assets/images/comida.png">
             <span>Cantina</span>
          </a>

          <a class="links" [routerLink]="['/tienda']">
            <img width="90" heigth="90" src="/assets/images/vestido.png">
            <span>Tienda</span>
          </a>

      </div>
      <br><br><br><br>
      <hr>
            
      <div class="content-block">
        <h4 class="title">Contact Info</h4>
        <div class="row">
          
          <div class="col-md-5">
           <!-- <img width="250" src="/assets/images/white_dog.jpg"> -->
            <img width="250" src="/assets/images/echado.png">
          </div>
          <div id="contac_info" class="col-md-7">  
          <br>         
            <ul>
              <li><span class="glyphicon glyphicon-envelope"></span>   correo_de_tienda@gmail.com
              </li>
              <li><span class="glyphicon glyphicon-earphone"></span>   +58 00000 - 0000 / +58 0000 - 0000
              </li>
              <li><span class="glyphicon glyphicon-map-marker"></span>   Av. ...., calle ...
              </li>
            </ul>
          </div>
        </div>
      </div>

    <br><br><br>
    </div>
</div> 
 
  <!-- Links -->
  <!--
   <div class="card-container">
   <!-- <a class="circle-link" title="Animations" href="https://angular.io/guide/animations" target="_blank" rel="noopener">
      <svg id="Group_20" data-name="Group 20" xmlns="http://www.w3.org/2000/svg" width="21.813" height="23.453" viewBox="0 0 21.813 23.453">
        <path id="Path_15" data-name="Path 15" d="M4099.584,972.736h0l-10.882,3.9,1.637,14.4,9.245,5.153,9.245-5.153,1.686-14.4Z" transform="translate(-4088.702 -972.736)" fill="#ffa726"/>
        <path id="Path_16" data-name="Path 16" d="M4181.516,972.736v23.453l9.245-5.153,1.686-14.4Z" transform="translate(-4170.633 -972.736)" fill="#fb8c00"/>
        <path id="Path_17" data-name="Path 17" d="M4137.529,1076.127l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1058.315)" fill="#ffe0b2"/>
        <path id="Path_18" data-name="Path 18" d="M4137.529,1051.705l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1036.757)" fill="#fff3e0"/>
        <path id="Path_19" data-name="Path 19" d="M4137.529,1027.283l-7.7-3.723,4.417-2.721,7.753,3.723Z" transform="translate(-4125.003 -1015.199)" fill="#fff"/>
      </svg>
    </a>

   
    <a class="circle-link" title="Augury" href="https://augury.rangle.io/" target="_blank" rel="noopener">
      <svg alt="Angular Augury Logo" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="21.81" height="23.447" viewBox="0 0 21.81 23.447">
        <defs>
          <clipPath id="clip-path">
            <rect id="Rectangle_13" data-name="Rectangle 13" width="10.338" height="10.27" fill="none"/>
          </clipPath>
        </defs>
        <g id="Group_25" data-name="Group 25" transform="translate(0)">
          <path id="Path_24" data-name="Path 24" d="M3780.155,311.417h0l-10.881,3.9,1.637,14.4,9.244,5.152,9.244-5.152,1.685-14.4Z" transform="translate(-3769.274 -311.417)" fill="#4a3493"/>
          <path id="Path_25" data-name="Path 25" d="M3862.088,311.417v23.447l9.244-5.152,1.685-14.4Z" transform="translate(-3851.207 -311.417)" fill="#311b92"/>
          <g id="Group_24" data-name="Group 24" transform="translate(6.194 6.73)" opacity="0.5">
            <g id="Group_23" data-name="Group 23" transform="translate(0 0)">
              <g id="Group_22" data-name="Group 22" clip-path="url(#clip-path)">
                <path id="Path_26" data-name="Path 26" d="M3832.4,373.252a5.168,5.168,0,1,1-5.828-4.383,5.216,5.216,0,0,1,2.574.3,3.017,3.017,0,1,0,3.252,4.086Z" transform="translate(-3822.107 -368.821)" fill="#fff"/>
              </g>
            </g>
          </g>
          <path id="Path_27" data-name="Path 27" d="M3830.582,370.848a5.162,5.162,0,1,1-3.254-4.086,3.017,3.017,0,1,0,3.252,4.086Z" transform="translate(-3814.311 -359.969)" fill="#fff"/>
        </g>
      </svg>
    </a> 
 
    </div>-->
  