<div class="content-block">
   <h5>{{titulo}}</h5>
</div>

<div class="content">
 	<div class="content-box">
		<img class="card-img-top" src="../assets/images/hotel2.jpg" alt="Habitación">

		<h2>Alojamiento para perros</h2>
		<p> Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariaturLorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
		<br>
		<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
		tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
		quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
		conseqiat nulla pariatur. Excepteur sint occaecat cupidatat non
		proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		
		<br>
		<p> Lorem in culpa qui officia deserunt mollit anim id est laborum:</p>
        <ul>
          <li>Lorem ipsum dolor sit ametconsectetu.</li>
          <li>ading elit dlanditiis quis ip.</li>
          <li>adipisicing nditiis quis ip.</li>
          <li>adipiicing elit dlanditiis quis ip.</li>
          <li>lorem sde glanditiis dars fao.</li>
        </ul>
        <br>
        <div class="row">        	
        	<!-- <div class="form_main col-md-8"> -->
        	<div class="col-md-8">
	            <h4 class="heading" style="text-align: left;"><strong>Contact </strong> Us <span></span></h4>
	           
                <form action="" method="post" id="contactFrm" name="contactFrm">
                	<div class="form-group input-group-sm">
                    	<input type="text" required="" placeholder="Please input your Name" value="" name="name" class="form-control">
                    </div>
                    <div class="form-group input-group-sm">
                      	<input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="form-control">
                    </div>
                    <div class="form-group input-group-sm">
                     	 <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="form-control">
                    </div>
                   <div class="form-row">
                   	<div class="col-md-6">
                   	<label for="fecha_init">Desde:</label> 
                   	 </div>
                   	<div class="col-md-6">
                   	<label for="fecha_end">Hasta:</label>
                   	 </div>
                   </div>
                   <div class="form-row form-group">
				    <div class="col-md-6 input-group input-group-sm">
				   	  <!-- <label for="fecha_init">Desde</label> --> 
				      <input type="text" id="fecha_init" name="fecha_init" class="form-control" placeholder="mm/dd/yyyy" (click)="mostrarCalendario('fecha_init')"/>
				      <div class="input-group-append">
				      <span class="input-group-text" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span> </span>
				       </div>
				    </div>
				   <div class="col-md-6 input-group input-group-sm">
				   	  <!-- <label for="fecha_end">Hasta</label> -->
				      <input type="text" id="fecha_end" name="fecha_end" class="form-control" placeholder="mm/dd/yyyy" (click)="mostrarCalendario('fecha_end')"/>
				      <div class="input-group-append">
				      <span class="input-group-text" id="basic-addon2"><span class="glyphicon glyphicon-calendar"></span> </span>
				       </div>
				    </div>
				  </div>
					 
				   <div class="form-group input-group-sm">
                	 <textarea placeholder="Your Message" name="mess" type="text" rows="5" class="form-control"></textarea>                   
                    </div>
                    <!--  <input type="submit" value="Send your Info." name="submit" class="btn btn-primary btn-sm btn-block"> -->
                    <button type="submit" class="btn btn-primary btn-sm">Send your Info.</button>
                </form>                	
            
        	</div>
        	<div class="form_main col-md-4" style="text-align:right;">
        		<h4 class="">Disponibility:</h4>
				<img width="200" src="../assets/images/calendar/octubre.png" alt="Disponibilidad Octubre">
				<br><br>
				<img width="200" src="../assets/images/calendar/noviembre.png" alt="Disponibilidad Noviembre">
				<div class="alert alert-danger" role="alert" style="font-size:smaller; text-align:right; padding: 8px;">
  *Días remacados en rojo No disponibles.
</div>
				<!-- <p style="font-size:x-small; text-align:right;"> *Días remacados en rojo No disponibles.</p> -->
			</div>
        </div>
	</div>
</div>

