<div class="content-block">
  <h4>{{titulo}}</h4>
</div>

<div class="content">
 	<div class="content-box" id="content-detail-cantina">
		
		
        <!--  form contact -->
		<div class="container" >
			<h4>Premium Shampoo for Pets</h4>
			<hr>
			<div class="row">
				<div class="col-md-7">
					<p> Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariaturLorem ipsum dolor sit amet consectetur adipisicing elit ariatur Lorem ipsum dolor sit amet consectetur adipisicing elit ariatur</p>
					<br>
					<p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
					quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
					consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
					proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
					
					<br>
					<p> Lorem in culpa qui officia deserunt mollit anim id est laborum:</p>
			        <ul>
			          <li>Lorem ipsum dolor sit ametconsectetu.</li>
			          <li>ading elit dlanditiis quis ip.</li>
			          <li>adipisicing nditiis quis ip.</li>
			          <li>adipiicing elit dlanditiis quis ip.</li>
			          <li>lorem sde glanditiis dars fao.</li>
			        </ul>

			        <h5>Costo Unidad</h5>
			          <span id="price">59,99$</span>
			       	
				</div>

			    <div class="col-md-5">
			    	<img class="img-detail" src="../assets/images/shampoo.jpg">
					
					<div class="form_main">
		                <h4 class="heading" style="text-align: right;"><strong>Contact </strong> Us <span></span></h4>
		                <div class="form">
			                <form action="" method="post" id="contactFrm" name="contactFrm">
			                    <input type="text" required="" placeholder="Please input your Name" value="" name="name" class="txt">
			                    <input type="text" required="" placeholder="Please input your mobile No" value="" name="mob" class="txt">
			                    <input type="text" required="" placeholder="Please input your Email" value="" name="email" class="txt">
			                    
			                	 <textarea placeholder="Your Message" name="mess" type="text" rows="5" class="txt_3"></textarea>
			                     <input type="submit" value="Send your Info." name="submit" class="btn btn-primary btn-sm btn-block">
			                </form>
			            </div>
		            </div>
            	</div>

			</div>
		</div>
		<!--  form contact -->
	</div>
</div>