<div class="content-block">
  <h5>{{titulo}}</h5>
</div>

<div class="content">
 	<div class="content-box">
 		<div class="row">
	 		<!-- Card -->
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/shampoo.jpg" alt="Card image cap">
		   
				  <div class="card-body" id="card-altura">
				    <h5 class="card-title">Shampoo</h5>			    
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.e quick example text to build on the card titlome quick e quick example text to build on the card titlome quick 
				    ome quick example text to build on the card titlome quick example text to build on the card titl</p>				   				   	
				  </div>
				   <hr>
				  <div class="botonera">
				  	<a class="button more" style="font-weight: bold;" href="/producto-detail/" target="_blank">VER MÁS</a>
				  	<!--  <a href="producto-detail" ng-click="openNewTab(producto-detail)"> Ver detalle</a> -->
				  </div>
				</div>
			</div>
			<!-- Card -->

			<!-- Card -->
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/plato.jpg" alt="Card image cap">
		   
				  <div class="card-body" id="card-altura">
				    <h5 class="card-title">Tazón para Perro plateado</h5>
				   <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    </div>
				   <hr>
				  <div class="botonera">
				  	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>
				</div>
			</div>
			<!-- Card -->
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/alimento.jpg" alt="Card image cap">
		   
				  <div class="card-body" id="card-altura">
				    <h5 class="card-title">Alimento Perro</h5>
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    </div>
				   <hr>
				  <div class="botonera">
				  	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>
				</div>
			</div>
			<!-- Card -->
			<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/alimento.jpg" alt="Card image cap">
		   
				  <div class="card-body" id="card-altura">
				    <h5 class="card-title">Alimento Perro</h5>
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				   </div>
				   <hr>
				  <div class="botonera">
				  	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>				 
				</div>
			</div>
		</div>

		<br>

		<div class="row">
			<!-- Card -->
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/plato.jpg" alt="Card image cap">
		   
				  <div class="card-body" id="card-altura">
				    <h5 class="card-title">Tazón para Perro</h5>
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <hr>
				   	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>
				</div>
			</div>

			<!-- Card -->
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/shampoo.jpg" alt="Card image cap">
		   
				  <div class="card-body">
				    <h5 class="card-title">Shampoo</h5>
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <hr>
				   	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>
				</div>
			</div>
			<!-- Card -->
			
	 		<div class="col-sm-6 col-md-4 col-xl-3">
				<div class="card element-selected">
				 <img class="card-img-top" src="../assets/images/alimento.jpg" alt="Card image cap">
		   
				  <div class="card-body">
				    <h5 class="card-title">Alimento Perro</h5>
				    <p style="color: #9B1B30;">19,99 $</p>
				    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
				    <hr>
				   	<button type="button" class="btn btn-primary btn-block btn-sm">Ver Detalle</button>
				  </div>
				</div>
			</div>
			<!-- Card -->
		</div>
	</div>
</div>